*{
    box-sizing:border-box; 
     
}

/*tudo que esta dentro do html */
html{
    overflow-y:hidden;
    overflow-x:hidden;
}

canvas{
    width:100%; 
}
/*div dos botoes*/
.botoes{
    position: absolute;
    z-index: 3;
}

/*div que contem a guia de comandos */
.listacomandos{
    position: absolute;
    z-index:2;
    display:flex;
    align-items:center;
    justify-content:center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

/*div que cotem o menu superior*/
.jogo{
    position: relative;
    display: inline-block;
}

/*div que contem os mostradores*/
.mostradores{ 
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

/*contorno barra de vida do player1*/
.contornovidajogador{
    position: relative;
    width: 100%;
    display: flex;
    justify-content:flex-end;
    border-top: 4px solid grey;
    border-bottom: 4px solid grey;
    border-left: 4px solid grey;
}

/*parte interna da vida do jogador*/
.todavidajogador{
    background-color:red;
    height: 30px;
    width: 100%;
    padding: 5;
}

/* barra interna de vida que diminui
 com o dano sofrido*/
.vidajogador{
    position: absolute;
    background: rgb(0, 255, 13);
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

/*mostrador de tempo*/
.temporizador{
    background-color: rgb(107, 45, 165);
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    border: 4px solid grey;
}

/*contorno barra de vida do inimigo*/
.contornovidainimigo{
    position: relative;  
    width: 100%;
    border-top: 4px solid grey;
    border-bottom: 4px solid grey;
    border-right: 4px solid grey;
}

/*parte interna da vida do inimigo*/
.todavidainimigo{
    background-color:red; height: 30px;
}

/* barra interna de vida que diminui
 com o dano sofrido*/
 .vidainimigo{
    position: absolute;
    background: rgb(0, 255, 13);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
 }

/*mensagem informando o vencedor*/
 .vencedor{
    position: absolute;
    color: white; 
    display:flex;
    align-items:center;
    justify-content:center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    font-family: 'Press Start 2P', cursive;
 }



/*div que engloba todos os elementos de controle*/
.controlesmobile{
    margin-top: 20%;
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    align-items:center;
    justify-content:center;

}

 /*controles de movimento*/
 .controlesmovimentop1{  
    display:inline-block;  
 }

 /*controles de ataque*/
.controlesataquep1{
    display:inline-block;
    margin-left: 40%;
}

/*estilos dos botoes de ataque*/
 .botoesmobile{
    width: 112;
    height: 112;
    border-left: 30px;
    border-radius: 20%;
    margin-top: 80px;
    display: block;
    
 }

 /*botoes do controle de movimento*/
 .botoesmobileMov{
    width: 112;
    height: 112;
    border-left: 30px;
    border-radius: 20%;
    margin-top: 20px;
    margin-left: 30px;
    display: flexbox;

 }

/*botao de pulo*/
 .botoesmobilePulo{
    width: 112;
    height: 112;
    border-left: 130px;
    border-radius: 20%;
    margin-top: 30px;
    margin-left: 100px;
    display: block;

    
 }

/*menu de opções*/
 .menu{
    background-color: gray;
    width: 1024;
    height: 60px;
 }


/*outros botoes*/
.botoesgeral{
    margin: 5;
    height: 40px; 
    border-radius: 10%; 
}

/* imagen interna do botaorefresh*/
.imgrefresh{
    
    height: 25px;
    width: 25px;
}